
body {
    background: #ddd;
}

button {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

.task-details-panel {
    margin: 20px 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

    

    .header {
        background: #22262d;
        height: 60px;
        box-sizing: border-box;
        position: relative;

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }

        h4 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: white;

            small {
                margin: 0 8px;
            }
        }

        .details {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: #aaa;
        }

        a {
            color: #ddd;
            font-size: 14px;

            &:hover, &:active, &:focus{
                color: #fff;
            }
        }
    }

    .content {
        overflow: hidden;
        background: #fff;
        padding: 5px 15px;
        box-sizing: border-box;

        a {
            color: #555;
            font-size: 14px;
            font-weight: bold;
            text-decoration: underline;

            &:hover, &:active, &:focus{
                color: #333;
            }
        }

        h2 {
            padding: 0;
            margin: 10px 0;
        }
    }
    
}

.home-showcase-panel {
    margin: 20px 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

    a {
        color: #ddd;
        font-size: 14px;

        &:hover, &:active, &:focus{
            color: #fff;
        }
    }

    .panel-header {
        background: #22262d;
        height: 60px;
        box-sizing: border-box;
        position: relative;

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }

        h4 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: white;

            small {
                margin: 0 8px;
            }
        }

        .details {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: #aaa;
        }
    }

    .content {
        overflow: hidden;
        background: #fff;
        padding: 5px 15px;
        box-sizing: border-box;

        h2 {
            padding: 0;
            margin: 10px 0;
        }
    }
    
}

.task-card {
    background: #fff;
    display: inline-block;
    border-radius: 4px;
    min-width: 150px;
    margin: 10px 10px;
    text-align: center;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    max-width: 200px;

    &.overdue {
        .header {
            background: #d64c4c;
        }
    }

    &.completed {
        .header {
            background: #3e8f3e;
        }
    }

    .header {
        background: #28a4c9;
        padding: 8px 10px;
        color: white;
        text-transform: uppercase;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .footer {
        padding: 0 10px 5px;
    }

    .task-button {
        margin-top: 10px;
        padding: 4px 10px 4px;
        overflow: hidden;
    }

    h4 {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

/* Things */

.coins {
    vertical-align: middle;
    display: inline-block;
    background: url('/images/coin.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &.small {
        width: 15px;
        height: 15px;
    }
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;

    &.active {
        display: block;
    }

    .single {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        &.active {
            display: block;
        }
    }

    .modal-task-completed {
        min-width: 200px;
        border-radius: 4px;
        overflow: hidden;

        .modal-header {
            background: #22262d;

            h4 {
                padding: 0;
                margin: 0;
                color: white;
            }
        }

        background: #fff;
        box-sizing: border-box;
        text-align: center;

        .header {
            padding: 10px 20px;
        }

        .content {
            padding: 10px 20px;
        }
    }
}

.chain {

    .chain-row {
        margin-bottom: 5px;

        .date-span {
            display: inline-block;
            vertical-align: middle;
            width: 50px;

            .day, .month {
                display: block;
                text-align: center;
            }

            .day {
                color: #333;
                font-size: 18px;
            }

            .month {
                color: #AAA;
                font-size: 12px;
            }
        }
    }

    .cell-chain {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin: 0;

        &.full {
            background: rgba(0, 0, 0, .1);
            // : AFTER -> img
        }

        &.empty {
            width: 30px;
            height: 30px;
            margin: 10px 5px;
            border-radius: 100%;
            background: rgba(0, 0, 0, .5);
        }
    }
}
