
body {
    background: #ddd;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

button {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

.task-details-panel {
    margin: 20px 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

    

    .header {
        background: #22262d;
        height: 60px;
        box-sizing: border-box;
        position: relative;

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }

        h4 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: white;

            small {
                margin: 0 8px;
            }
        }

        .details {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: #aaa;
        }

        a {
            color: #ddd;
            font-size: 14px;

            &:hover, &:active, &:focus{
                color: #fff;
            }
        }
    }

    .content {
        overflow: hidden;
        background: #fff;
        padding: 5px 15px;
        box-sizing: border-box;

        a {
            color: #555;
            font-size: 14px;
            font-weight: bold;
            text-decoration: underline;

            &:hover, &:active, &:focus{
                color: #333;
            }
        }

        h2 {
            padding: 0;
            margin: 10px 0;
        }
    }
    
}

.home-showcase-panel {
    margin: 20px 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

    a {
        color: #ddd;
        font-size: 14px;

        &:hover, &:active, &:focus{
            color: #fff;
        }
    }

    .panel-header {
        background: #22262d;
        height: 60px;
        box-sizing: border-box;
        position: relative;

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            left: 20px;
        }

        .right {
            right: 20px;
        }

        h4 {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: white;

            small {
                margin: 0 8px;
            }
        }

        .details {
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: #aaa;
        }
    }

    .content {
        overflow: hidden;
        background: #fff;
        padding: 5px 15px;
        box-sizing: border-box;
        
        .meta {
            color: #aAa;
            font-size: 10px;
        }

        p {
            margin: 0;
        }

        h2 {
            padding: 0;
            margin: 10px 0;
        }
    }

    .right .details {
        .button {
            display: inline-block;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 4px;
            color: #fff;
            padding: 4px 6px;
            text-align: center;
            font-size: 12px;
        }
    }
    
}

.task-card {
    background: #fff;
    display: inline-block;
    border-radius: 4px;
    min-width: 150px;
    margin: 10px 10px;
    text-align: center;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    max-width: 200px;

    &.overdue {
        .header {
            background: #d64c4c;
        }
    }

    &.completed {
        .header {
            background: #3e8f3e;
        }
    }

    .header {
        background: #28a4c9;
        padding: 8px 10px;
        color: white;
        text-transform: uppercase;

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .footer {
        padding: 0 10px 5px;
    }

    .task-button {
        margin-top: 10px;
        padding: 4px 10px 4px;
        overflow: hidden;
    }

    h4 {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

/* Things */

.coins {
    vertical-align: middle;
    display: inline-block;
    background: url('/media/images/coin.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &.small {
        width: 15px;
        height: 15px;
    }
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;

    &.active {
        display: block;
    }

    .single {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        &.active {
            display: block;
        }
    }

    .modal-task-completed {
        min-width: 200px;
        border-radius: 4px;
        overflow: hidden;

        .modal-header {
            background: #22262d;

            h4 {
                padding: 0;
                margin: 0;
                color: white;
            }
        }

        background: #fff;
        box-sizing: border-box;
        text-align: center;

        .header {
            padding: 10px 20px;
        }

        .content {
            padding: 10px 20px;
        }
    }
}

.chain {
    margin: 0;

    &.centered {
        max-width: 100px;
        margin: 20px auto;
    }

    &.nospace {
        .chain-row {
            margin: 0 !important;
        }

        .cell-chain {
            width: 30px;
            height: 30px;

            &.empty {
                margin: 0px 5px;
            }
        }
    }

    .chain-row {
        margin-bottom: 5px;

        .date-span {
            display: inline-block;
            vertical-align: middle;
            width: 50px;

            .day, .month {
                display: block;
                text-align: center;
            }

            .day {
                color: #333;
                font-size: 18px;
            }

            .month {
                color: #AAA;
                font-size: 12px;
            }
        }
    }

    .cell-chain {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin: 0;

        &.full {
            // background: rgba(0, 0, 0, .1);
            // : AFTER -> img
        }

        &.empty {
            width: 30px;
            height: 30px;
            margin: 10px 5px;
            border-radius: 100%;
            background: rgba(0, 0, 0, .5);
            box-shadow: inset 0px 2px 0px 1px rgba(0, 0, 0, .2);
        }
    }
}

/* Themes */
.chain {

    .full {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background: url('/media/images/themes/default.png');
            background-size: cover;
        }
    }

    &.guitar {
        .full:before {
            background: url('/media/images/themes/guitarpick.png');
            background-size: cover;
        }
    }

    &.muffin {
        .full:before {
            background: url('/media/images/themes/muffin.png');
            background-size: cover;
        }
    }
}

.task-edit-panel {
    label {
        min-width: 100px;
        text-align: right;
        padding-right: 10px;
        color: #666;
    }

    .right .details {
        .button {
            display: inline-block;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 4px;
            color: #fff;
            padding: 4px 6px;
            text-align: center;
            font-size: 12px;
        }
    }
}

.ong-list {
    margin-top: 50px;
}

.ong-card {
    display: inline-block;
    width: 250px;
    background: #fff;
    border-radius: 4px;
    margin: 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);

    .header {
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .content {
        padding: 15px 30px;
        text-align: center;
        
        h5 {
            color: #309eff;
            font-size: 10px;
            margin: 0;
            padding: 0;
        }

        h4 {
            color: black;
            font-size: 18px;
            margin: 5px 0 0;
            padding: 0;
        }

        p {
            margin-top: 15px;
            font-size: 14px;
            text-align: justify;
        }
    }

    .action {
        a {
            display: block;
            background: #309eff;
            color: #fff;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 0;

            &:hover {
                background: #77bbf7;
            }

            &.disabled {
                background: #aaa;

                &:hover {
                    background: #bbb;
                }
            }
        }
    }
}

.group-details-page {
    margin-top: 50px;

    .sidebar {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
        width: 260px;
        
        .header {
            background: #22262d;
            padding: 10px 15px;
        }

        .content {
            overflow: hidden;
            padding: 15px 15px;

            .button {
                border: 2px solid #22262d;
                border-radius: 4px;
                color: #22262d;
                padding: 4px 6px;
            }

            h4 {
                padding: 0;
                margin: 15px 0 5px;
            }

            .comment {
                .author {
                    font-size: 14px;
                }

                .text {
                    font-size: 14px;
                }

                .meta {
                    font-size: 10px;
                    color: #aaa;
                }

                margin-bottom: 10px;
            }
        }

        h2 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: white;
        }
    }

    > .content {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
        min-width: 600px;
        
        .header {
            background: #22262d;
            padding: 10px 15px;
        }

        .content {
            box-sizing: border-box;
            padding: 5px 15px 15px;
        }

        h2 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: white;
        }

        .taskChain {
            display: inline-block;
            position: relative;
            vertical-align: top;
            min-width: 70px;
        }

        .chain {
            position: relative;
            margin: 180px 0 0 15px;
        }

        .chain-label {
            display: inline-block;
            padding: 7px 10px;
            box-sizing: border-box;
            border-radius: 4px;
            transform: translate(-50%, 100%) rotate(-90deg);
            position: absolute;
            height: 60px;
            width: 150px;
            top: 0px;
            left: 50%;
            overflow: hidden;

            &.green {
                background: #187457;
            }

            &.orange {
                background: #a26b36;
            }

            &.red {
                background: #8b1946;
            }

            &.blue {
                background: #77bbf7;
            }

            .author, .task-name {
                display: block;
                text-transform: uppercase;
                color: white;
                font-size: 16px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .author {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}

.choice {
    font-size: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;

    .left, .right {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }

    .left {
        position: relative;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-left: 1px solid #aaa;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            border-right: 1px solid #aaa;
            top: 0;
            right: 0;
        }
    }

    .right {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #aaa;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }

    .button {
        a {
            color: #000;
        }

        width: 250px;
        background: #fff;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
            background: #eee;
        }

        .title {
            display: block;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .desc {
            font-size: 12px;
            font-weight: 100;
        }
    }
}

.top-entry {
    margin: 5px 0;
    
    .position {
        display: inline-block;
        width: 20px;
        font-size: 16px;
        vertical-align: middle;
    }

    a {
        color: #000;
        vertical-align: middle;

        &:hover {
            color: #555;
        }
    }
}