{% extends 'layout.html' %}

{% block content %}
    <form method="post">
        <div class="task-details-panel task-edit-panel">
            <div class="header">
                <div class="left">
                    <h4>Create Task</h4>
                </div>
                <div class="right">
                    <span class="details">
                        <a class="button" href="{% url 'index' %}">Back</a>
                        <button class="button" type="submit">Create task</button>
                    </span>
                </div>
            </div>
            <div class="content">
                <p class="error">{{ message }}</p>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div>
    </form>
{% endblock %}
