{% extends 'layout.html' %}

{% block content %}
    <form enctype="multipart/form-data"  method="post">
        <div class="task-details-panel task-edit-panel">
            <div class="header">
                <div class="left">
                    <h4>Edit Profile</h4>
                </div>
                <div class="right">
                    <span class="details">
                        <a href="{% url 'viewProfile' %}" class="button">Back</a>
                        <button class="button" type="submit">Update</button>
                    </span>
                </div>
            </div>
            <div class="content">
                <p class="error">{{ message }}</p>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div>
    </form>
{% endblock %}
