{% extends 'layout.html' %}

{% block heading %}
	<h2> {{ group.title }}</h2>
{% endblock %}

{% block content %}

	{% if user not in group_users %}
		<a href="{% url  'joinGroup' group_pk %}"><h2>Join group</h2></a>
	{% else %}
	{% endif %}

	<textarea id="comment"> </textarea>
	{#	<a href="{% url 'addComment' %}">#}
	<button type="button" class="btn btn-primary task-button">
		Add comment
	</button>
	{#	</a>#}

	{% for user in group_users %}
		<p> {{ user }}</p>
	{% endfor %}

	Tasks:

	{% for task in group_tasks %}
		<p> {{ task }} </p>
	{% endfor %}

{% endblock %}
