{% extends 'layout.html' %}

{% block heading %}
    <h2> {{ group.title }}</h2>
{% endblock %}

{% block content %}

    {% if user not in group_users %}
        <a href="{% url  'joinGroup' group_pk %}"><h2>Join group</h2></a>
    {% else %}
    {% endif %}

    {% if user in group_users %}
        <h4>Add a comment</h4>
        <p class="error">{{ message }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post comment</button>
        </form>
    {% endif %}

    <h4>Group Members</h4>
    {% for user in group_users %}
        <p><a href="{% url 'viewProfile' user.username %}">{{ user.username }}</a></p>
    {% endfor %}

    <h4>Tasks</h4>
    {% for task in group_tasks %}
        <p> {{ task }} </p>
    {% endfor %}

    <h4>Comments</h4>
    {% for comment in comments %}
        <p><a href="{% url 'viewProfile' comment.user.username %}">{{ comment.user.username }}</a><small>@{{ comment.date_added }}</small>: {{ comment.text }}</p>
    {% endfor %}

{% endblock %}
