{% extends "layout.html" %}

{% block toggle_login %}{% endblock %}

{% block content %}
    <form action="{% url "login" %}" method="post" accept-charset="utf-8">
        <div class="task-details-panel task-edit-panel">
            <div class="header">
                <div class="left">
                    <h4>Login</h4>
                </div>
                <div class="right">
                    <span class="details">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input class="button" type="submit" value="Login">
                    </span>
                </div>
            </div>
            <div class="content">
                <p class="error">{{ message }}</p>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div>
    </form>
{% endblock %}