{% extends 'layout.html' %}

{% block heading %}
  <h2>Your Profile</h2>
{% endblock %}

{% block content %}
    <a href="{% url 'editProfile' %}" class="btn">Edit Profile</a>

    <h4>Name</h4>
    <p>{{ profile.first_name }} {{ profile.last_name }}</p>

    <h4>Gender</h4>
    <p>{{ profile.get_gender_display }}</p>

    <h4>Level</h4>
    <p>{{ profile.level }} <small>({{ profile.experience }} / {{ profile.expNeeded }})</small> - loading bar or smthn</p>

    <h4>Avatar</h4>
    <div class="media">
      <img src={{ profile.avatar.url | default:"" }} />
    </div>
{% endblock %}