{% extends 'layout.html' %}

{% block content %}
    <center>
        <div class="profile-card">
            <div class="avatar" style="background-image: url({{ profile.avatar.url }});">
            </div>

            <div class="plate">
                <div class="name">
                    <span>{{ profile.first_name }}</span>
                    <span>{{ profile.last_name }}</span>
                </div>

                <div class="level-holder">
                    LEVEL <span class="level">{{ profile.level }}</span>
                    <div class="exp">
                        <small>({{ profile.experience }} / {{ profile.expNeeded }})</small>
                    </div>
                </div>

                <div class="meta">
                    <div class="row">
                        <label>Gender</label>
                        <span>{{ profile.get_gender_display }}</span>
                    </div>
                    <div class="row">
                        <label>Birthday</label>
                        <span>{{ profile.birthday|date:"M d, Y" }}</span>
                    </div>
                </div>
            </div>

            <div class="action">
                <a href="{% url 'editProfile' %}">Edit Profile</a>
            </div>
        </div>
    </center>
{% endblock %}