{% extends 'layout.html' %}

{% block content %}
    <div class="task-details-panel">
        <div class="header">
            <div class="left">
                <h4>{{ task.name }}<small>{{ task.category }}</small></h4>
                <span class="details">
                    <em>Current streak</em>: <b>{{ activity_len_count }}</b>
                </span>
            </div>
            <div class="right">
                <span class="details">
                    <a href="{% url 'editTask' task.pk %}" class="btn">Edit</a>
                    <a href="{% url 'deleteTask' task.pk %}" class="btn">Delete</a>    
                </span>
            </div>
        </div>
        <div class="content">
            {% if task.ong %}
                <h2>ThaskYou</h2>
                <p>Keep this task's ChainStreak as high as you can so you can help: <a href="{% url 'ongDetails' task.ong.pk %}"> {{ task.ong }}</a></p>
            {% endif %}

            <h2>ChainStreak</h2>
            <div class="chain">
                {% for elem in chain %}
                    {% if elem.task %}
                        <div class="chain-row">
                            <span class="date-span">
                                <span class="day">{{ elem.date_created.date.day }}</span>
                                <span class="month">{{ elem.date_created.date.month }}</span>
                            </span>
                            <div class="cell-chain full"></div>
                        </div>
                    {% else %}
                        <div class="chain-row">
                            <span class="date-span">
                                <span class="day">{{ elem.date.day }}</span>
                                <span class="month">{{ elem.date.month }}</span>
                            </span>
                            <div class="cell-chain empty"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        function intToMonth(monthInt) {
            var month = ['January', 'February', 'March', 'April', 'May', 'June',
                         'July', 'August', 'September', 'October', 'November', 'December'];
            return month[monthInt - 1];
        }

        $(document).ready(function() {
            var months = $("span.month");
            for (var i = 0; i < months.length; i++) {
                var month = $(months[i]);
                month.text(intToMonth((month.text())));
            }
        });
    </script>
{% endblock %}
