{% extends 'layout.html' %}

{% block content%}

    
    <div class="choice">
        <div class="left button">
            <a href="{% url 'viewTops' 'general' %}">
                <span class="title">View General Top</span>
                <span class="desc">Click here to view the general top based on level and experience.</span>
            </a>
        </div>
        <div class="right button">
            <span class="title">View Top by Category</span>
            <span class="desc">Select a category and you will found out who's the mayor over there.</span>
            <p class="error">{{ message }}</p>
            <form method="post" action="{% url 'viewTops' 'category' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Show me</button>
            </form>
        </div>
    </div>

    {% if general_top %}
        <div class="home-showcase-panel">
            <div class="panel-header">
                <div class="left">
                    <h4>General Top</h4>
                </div>
            </div>

            <div class="content">
                {% for profile in general_top %}
                    <div class="top-entry">
                        <span class="position">{{ forloop.counter }}</span>
                        <a href="{% url 'viewProfile' profile.user.username %}">
                            {{ profile.first_name }} {{ profile.last_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if category_top %}
        <div class="home-showcase-panel">
            <div class="panel-header">
                <div class="left">
                    <h4>Category Top</h4>
                    <span class="details">
                        <b>{{ category.name }}</b>
                    </span>
                </div>
            </div>

            <div class="content">
                {% for user in category_top %}
                    <div class="top-entry">
                        <span class="position">{{ forloop.counter }}</span>
                        <a href="{% url 'viewProfile' user.profile.user.username %}">
                            {{ user.profile.first_name }} {{ user.profile.last_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
